{% extends 'Base.html' %}
{% load static %}

{% block content %}
{% include 'partials/_alerts.html' %}
              
<div class="s-content">
            
    <div class="masonry-wrap">

        <div class="masonry">

            <div class="grid-sizer"></div>

            

            <article class="masonry__brick entry format-quote animate-this">
                    
                <div class="entry__thumb">
                    <blockquote>
                        <p>Good design is making something intelligible and memorable. Great design is making something memorable and meaningful.</p>

                        <cite>Dieter Rams</cite>
                    </blockquote>
                </div>   

            </article> <!-- end article -->

            
            {% for blog in object_list %}
            <article class="masonry__brick entry format-standard animate-this">
                    
                <div class="entry__thumb">
                    <a href="{% url 'Blog' blog.pk %}" class="entry__thumb-link">
                        <img src="{{ blog.Photo.url }}" alt="">
                    </a>
                </div>

                <div class="entry__text">
                    <div class="entry__header">

                        <h2 class="entry__title"><a href="{% url 'Blog' blog.pk %}">{{ blog.Title }}.</a></h2>
                        <div class="entry__meta">
                            <span class="entry__meta-cat">
                                <a href="#">{{ blog.Category }}</a> 
                            </span>
                            <span class="entry__meta-date">
                                <a href="#">{{blog.date}}</a>
                            </span>
                        </div>
                        
                    </div>
                    <div class="entry__excerpt">
                        <p>{{blog.Content|slice:":200"|safe}}</p>
                    </div>
                </div>

            </article> <!-- end article -->
            {% endfor %}
           
            
        </div> <!-- end masonry -->

    </div> <!-- end masonry-wrap -->

    <div class="row">
        <div class="column large-full">
            {% if page_obj.has_other_pages %}
            <nav class="pgn">
                <ul>
                    {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}" class="pgn__prev">Previous</a></li>
                    {% endif %}
                    {% for page in page_obj.paginator.page_range %}
                        {% if page_obj.number == page %}
                            <li>
                              <a class="pgn__num current">{{page}}</a>
                            </li>
                        {% else %}
                            <li>
                              <a href="?page={{page}}" class="pgn__num">{{page}}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                     <li>
                        <a href="?page={{page_obj.next_page_number}}" class="pgn__next">Next</a>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}
            </nav>
        </div>
    </div>

</div> 
<!-- end s-content -->
{% endblock %}