{% if messages %}

{% for message in messages %}
<div class="s-content content">
    <main class="row s-styles">
        <section id="styles" class="column large-full">
            <div class="container" id="alert_message">
                <div class="alert alert-{{message.tags}} alert-box 
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} alert-box--error hideit"
                {% else %} alert-box--success hideit"
                {% endif %}>
                {{message}}
                </div>
            </div>
        </section> 
    </main>
</div>
{% endfor%}

{% endif %}