<div class="s-content content">
    <main class="row s-styles">
        <section id="styles" class="column large-full">
            <div class="row half-bottom">
                <div class="column large-6 tab-full">
                    <p>
                        <a class="btn btn--primary full-width"
                        {% if user.is_authenticated %}
                                {% if request.path == '/' %}
                                    href="{% url 'Timeline' %}">{{user.first_name}} {{user.last_name}}
                                {% elif "Detail" in request.path %}
                                    href="{% url 'Edit' blog.pk %}">Edit 
                                {% endif %}
                        {% else %} href="{% url 'Login' %}">Login
                        {% endif %}</a>
                    </p>                            
                </div>

                <div class="column large-6 tab-full">
                    <p>
                        <a class="btn btn--primary full-width"
                        {% if user.is_authenticated %} 
                                {% if request.path == '/' %}
                                href="{% url 'Add' %}">Add Post
                                {% elif "Detail" in request.path %}
                                    href="{% url 'Delete' blog.pk %}">Delete
                                {% endif %}
                        {% else %} href="{% url 'Register' %}">Register
                        {% endif %}</a>
                    </p>
                </div>
            </div> 
            <!-- end row -->
        </section> 
        <!-- end styles -->

    </main>

</div> 
<!-- end s-content -->    