{% load static %}

<!-- site header -->
        <header class="s-header">

            <div class="header__top">
                <div class="header__logo">
                    <a class="site-logo" href="{% url 'Home' %}">
                        <img src="{% static '/images/logo.svg' %}" alt="Homepage">
                    </a>
                </div>

                <div class="header__search">
    
                    <form role="search" method="get" class="header__search-form" action="#">
                        <label>
                            <span class="hide-content">Search for:</span>
                            <input type="search" class="header__search-field" placeholder="Type Keywords" value="" name="s" title="Search for:" autocomplete="off">
                        </label>
                        <input type="submit" class="header__search-submit" value="Search">
                    </form>
        
                    <a href="#0" title="Close Search" class="header__search-close">Close</a>
        
                </div>  
                <!-- end header__search -->

                <!-- toggles -->
                <a href="#0" class="header__search-trigger"></a>
                <a href="#0" class="header__menu-toggle"><span>Menu</span></a>

            </div> 
            <!-- end header__top -->

            <nav class="header__nav-wrap">

                <ul class="header__nav">
                    <li class="current"><a href="{% url 'Home' %}" title="">Home</a></li>
                    {% if user.is_authenticated %}
                    <li class="has-children">
                        <a href="#" title="">Profile</a>
                        <ul class="sub-menu">
                        <li><a href="{% url 'Timeline' %}">Timeline</a></li>
                        <li><a href="{% url 'Timeline' %}">Edit Profile</a></li>
                        <li><a href="javascript:{document.getElementById('logout').submit()}">Logout</a>
                            <form action="{% url 'Logout' %}" id="logout" method="POST">
                              {% csrf_token %}
                              <input type="hidden">
                            </form>
                        </li>
                        </ul>
                    </li>
                    {% endif %}
                    <li class="has-children">
                        <a href="#0" title="">Categories</a>
                        <ul class="sub-menu">
                        <li><a href="category.html">Lifestyle</a></li>
                        <li><a href="category.html">Health</a></li>
                        <li><a href="category.html">Family</a></li>
                        <li><a href="category.html">Management</a></li>
                        <li><a href="category.html">Travel</a></li>
                        <li><a href="category.html">Work</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'About' %}" title="">About</a></li>
                    <li><a href="{% url 'Contact' %}" title="">Contact</a></li>
                </ul> <!-- end header__nav -->

                <ul class="header__social">
                    <li class="ss-facebook">
                        <a href="https://facebook.com/">
                            <span class="screen-reader-text">Facebook</span>
                        </a>
                    </li>
                    <li class="ss-twitter">
                        <a href="#0">
                            <span class="screen-reader-text">Twitter</span>
                        </a>
                    </li>
                    <li class="ss-dribbble">
                        <a href="#0">
                            <span class="screen-reader-text">Dribbble</span>
                        </a>
                    </li>
                    <li class="ss-pinterest">
                        <a href="#0">
                            <span class="screen-reader-text">Behance</span>
                        </a>
                    </li>
                </ul>

            </nav> 
            <!-- end header__nav-wrap -->

            

        </header> 
        <!-- end s-header -->
