{% extends 'Base.html' %}
{% load static %}

{% block content %}
<div class="s-content content">
    <main class="row content__page">
        <div class="row"></div>
            <div class="column large-6 tab-full">
                <br>
                <h3>SIGNUP</h3>
                    <form>
                        <div>
                            <label>Full Name</label>
                            <input class="full-width" type="text" placeholder="Full Name" id="sampleInput">
                        </div>
                        <div>
                            <label>Username</label>
                            <input class="full-width" type="text" placeholder="Username" id="sampleInput">
                        </div>
                        <div>
                            <label>Email</label>
                            <input class="full-width" type="email" placeholder="Email" id="sampleInput">
                        </div>
                        <div>
                            <label>Phone Number</label>
                            <input class="full-width" type="text" placeholder="Phone No" id="sampleInput">
                        </div>
                        <div>
                            <label>Password</label>
                            <input class="full-width" type="password" placeholder="Password" id="sampleInput">
                        </div>
                        
                        <div>
                            <label>Confirm Password</label>
                            <input class="full-width" type="password" placeholder="Password" id="sampleInput">
                        </div>
                        
                        <label class="add-bottom">
                            <input type="checkbox">
                            <span class="label-text">I Accept the terms and Conditions.</span>
                        </label>
                    
                        <input class="btn--primary full-width" type="submit" value="Submit">
                    </form>
                </div>
                <div class="column large-6 tab-full">
                    <aside class="pull-quote">
                        <blockquote>
                        <p>
                        When you look in the eyes of grace, when you meet grace, 
                        when you embrace grace, when you see the nail prints in 
                        grace’s hands and the fire in his eyes, when you feel his 
                        relentless love for you - it will not motivate you to sin. 
                        It will motivate you to righteousness.
                        </p>
                        </blockquote>
                    </aside>

                </div>
                
            </div>
            


    

    </main>

</div> 
<!-- end s-content -->
{% endblock%}