body {
    background-color: #F8F8F8!important;
}

#profile-wrapper {
    text-align: center;
}

#profile-pic {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 100%;
}

.social-links {
    padding: 0;
    display: flex;
    list-style: none;
    
}

ion-icon {
    font-size: 25px;
    color: black;    
}

.social {
    width: 20px;
    height: 20px;
}