{% extends 'Base.html' %}
{% load static %}

{% block content %}
        <!-- site content -->
        <div class="s-content content">
            <main class="row content__page">
                <div class="row"></div>
                <div class="comments-wrap">
                    <div class="column large-12 comment-respond">
                        <!-- START respond -->
                        <div id="respond">
            
                            <h3 class="h2">Write a Blog <span>Add Pictures and Videos as per your requirements.</span></h3>
            
                            <form name="contactForm" id="contactForm" method="post" action="" autocomplete="off">
                                {% csrf_token %}
                                    <div class="form-field">
                                        <input name="Name" class="full-width" placeholder="Title" value="" type="text">
                                    </div>
                                    <div class="form-field">
                                        <input name="Tag" class="full-width" placeholder="Tags" value="" type="text">
                                    </div>
                                    <div class="form-field">
                                        <input name="Author" class="full-width" placeholder="Author" value="" type="text">
                                    </div>
                                    <label>Add Pictures(Atleast One)</label>                                    
                                    <div class="form-field">
                                        <input type="file" id="myFile"  placeholder="Image" value="" name="filename">
                                    </div>
                                    <div class="form-field">
                                        <input type="file" id="myFile"  placeholder="Video" value="" name="filename">
                                    </div>
                                    <label>Add Pictures</label>                                    
                                    <div class="form-field">
                                        <input type="file" id="myFile"  placeholder="Video" value="" name="filename">
                                    </div>
                                    <div class="message form-field">
                                        <textarea name="Content" class="full-width" placeholder="Content"></textarea>
                                    </div>

                                    <input name="submit" id="submit" class="btn btn--primary btn-wide btn--large full-width" value="Upload" type="submit">
                                </fieldset>
                            </form> 
                            <!-- end form -->
                        </div>
                        <!-- END respond-->
                    </div> 
                    <!-- end comment-respond -->            
                </div> 
                <!-- end comments-wrap -->


                        <div class="column large-6 tab-full">

                            <h3></h3>

                            <aside class="pull-quote">
                                <blockquote>
                                <p>
                                When you look in the eyes of grace, when you meet grace, 
                                when you embrace grace, when you see the nail prints in 
                                grace’s hands and the fire in his eyes, when you feel his 
                                relentless love for you - it will not motivate you to sin. 
                                It will motivate you to righteousness.
                                </p>
                                </blockquote>
                            </aside>

                        </div>

                        
                    </div>
            </main>

        </div> 
        <!-- end s-content -->

    {% endblock %}
